.footer {
    background-color: #f7f8f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    h2 {
      text-transform: capitalize;
      margin-bottom: 0;
      padding-bottom: 0;
      &::before,
      &::after {
        content: none;
      }
    }
    .section-title {
      padding-bottom: 0;
    }
    .icon-group {
      gap: 1.5rem;
      a {
        color: $prime-color;
        cursor: pointer;
        &:hover {
          color: #0678e3;
        }
      }
    }
  
    .credits {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }