header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;

  @include media-breakpoint-down(lg) {
    width: 300px;
    background: #374764;
    border-right: 1px solid #161f31;
    left: -300px;
  }
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active header {
  left: 0;
}
