.contact {
  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    margin: auto;

    input,
    textarea {
      background-color: #181824;

      &:focus,
      &:read-write {
        background-color: #181824;
      }
    }
  }

  .message {
    display: none;
  }

  .button-container {
    margin: auto;
  }

  button {
    background-color: $prime-color;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
  }

  .icon-container {
    background-color: #181824;
    color: white;
    border-radius: 50%;
    padding: 0.8rem;
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: $prime-color;
      color: $white;
    }
  }
  .infos {
    font-size: 14px;
    @include media-breakpoint-down(lg) {
      display: flex;
      justify-content: space-evenly;
      font-size: 12px;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 25px;
      flex-direction: column;
    }
  }
  .info {
    display: flex;
    gap: 1rem;
  }

  .iframe {
    display: none;
  }

  .email {
    word-break: break-all;
  }
}
