.skills {
  .progress-bar {
    min-width: 100%;
    background-color: $faded-bg;
  }

  .now {
    background-color: $prime-color;
    max-height: 10px;
    &:before {
      content: "\200B";
    }
  }

  .skills-title {
    margin: 0 1rem;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 0.5rem 0;
  }
}
