@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// Variables
$prime-color: #0563bb;
$faded-bg: #f2f3f5;
$text-color: #45505b;
$white: #fff;

// Universal Box Sizing
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: $text-color;
  height: 100vh;

  #root,
  .container-fluid,
  .row {
    height: 100%;

    .col {
      margin: auto;
    }
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.nav-link {
  color: $text-color;
  display: flex;
  align-items: center;
  background-color: $faded-bg;
  border-radius: 60px;
  gap: 1rem;
  height: 3.25rem;
  overflow: hidden;
  width: auto;
  max-width: 3.25rem;
  transition: max-width 0.3s;

  .nav-text {
    padding-right: 15px;
    white-space: nowrap;
  }
  &:hover {
    max-width: 7.5rem;
    background-color: $prime-color;
    color: $white;
  }
}
